name: Release

on:
  push:
    branches:
      - master

concurrency:
  group: release
  cancel-in-progress: false

permissions:
  contents: write # to be able to publish a GitHub release
  issues: write # to be able to comment on released issues
  pull-requests: write # to be able to comment on pull requests
  id-token: write # to enable use of ODIC for npm provenance

jobs:
  release:
    name: Semantic Release
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: npm

      # Install dependencies (CI safe)
      - name: Install dependencies
        run: npm ci

      # Build CCA package
      - name: Build package
        run: npm run build:lib

      # Run Semantic release to publish package to NPM
      - name: Publish package
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm run semantic-release
